################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp_Desafio_Desenvolvimento/WebApp_Desafio_FrontEnd/appsettings.json
/WebApp_Desafio_Desenvolvimento/WebApp_Desafio_FrontEnd/appsettings.Development.json
/WebApp_Desafio_Desenvolvimento/WebApp_Desafio_BackEnd/App.config
/WebApp_Desafio_Desenvolvimento/WebApp_Desafio_BackEnd/packages.config
/WebApp_Desafio_Desenvolvimento/WebApp_Desafio_FrontEnd/Properties/launchSettings.json
